{
  "extends": [
    "airbnb",
    "prettier",
    "prettier/react"
  ],
  "plugins": [
    "react",
    "babel",
    "prettier"
  ],
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "env": {
    "es6": true,
    "jest": true
  },
  "rules": {
    "prettier/prettier": "error",
    "no-restricted-globals": "off",
    "import/prefer-default-export": "off",
    "react/jsx-filename-extension": "off",
    "no-unused-vars": "warn",
    "no-useless-constructor": "off",
    "max-len": [
      "error",
      120,
      {
        "ignoreComments": true
      },
      {
        "ignoreUrls": true
      }
    ],
    "no-underscore-dangle": "off",
    "no-param-reassign": [
      "error",
      {
        "props": false
      }
    ],
    "no-console": "warn",
    "no-plusplus": "off",
    "react/prefer-stateless-function": "off"
  }
}
