<manifest
  xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.some.example">
<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
<application>
   <!-- You will only need to add this meta-data tag, but make sure it's a child of application -->
   <meta-data
     android:name="com.google.android.geo.API_KEY"
     android:value="AIzaSyDboZUYQ4vozIHpv5kU7ywQXF5BU8X-SPI"/>
</application>
</manifest>